<% layout("/layout/boilerplate") %>
<body>
    <table class="table table-striped">
        <thead>
            <th>Enrollment no.</th>
            <th>Student Name</th>
            <th>Email</th>
            <th>Phone no.</th>
            <th>Course</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% function formatDate(dateString) {
                const date = new Date(dateString);
                const day = date.getDate();
                const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                const monthIndex = date.getMonth();
                const year = date.getFullYear();
                return `${day}-${monthNames[monthIndex]}-${year}`;
            } %>
            <% for(student of students) {%>
                <tr>
                    <td><%= student.enrollment_number %></td>
                    <td><%= student.first_name %> <%= student.last_name %></td>
                    <td><%= student.email %></td>
                    <td><%= student.phone_number %></td>
                    <td><%= student.course_name %></td>
                    <td><a href="/students/<%= student._id %>" class="btn btn-info">Show</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    
</body>
